In [1]:
import sys
sys.path.insert(0,"/home/laura/boyaca/")
import boyaca_libraries as by

In [2]:
import pandas as pd 
import tarfile

In [3]:
by.download_data("/home/laura/boyaca/boyaca_data/datos.tar.gz")

'/home/laura/boyaca/boyaca_data/datos.tar.gz'

In [4]:
with tarfile.open("/home/laura/boyaca/boyaca_data/datos.tar.gz", "r:gz") as archivo:   
    archivo.extractall()

In [5]:
place = pd.read_csv(f"Profesional_data/Aquitania.csv")

In [7]:
by.funcion_boyaca("Aquitania.csv")

Unnamed: 0           int64
InternoNumerico      int64
Fecha Nto           object
Sexo                object
FechaMedicion       object
EdadBiologica        int64
ZetaTE             float64
ZetaPT             float64
Administradora      object
Municipio           object
dtype: object Index(['Unnamed: 0', 'InternoNumerico', 'Fecha Nto', 'Sexo', 'FechaMedicion',
       'EdadBiologica', 'ZetaTE', 'ZetaPT', 'Administradora', 'Municipio'],
      dtype='object') Unnamed: 0         0
InternoNumerico    0
Fecha Nto          0
Sexo               0
FechaMedicion      0
EdadBiologica      0
ZetaTE             0
ZetaPT             0
Administradora     0
Municipio          0
dtype: int64 (10470, 10)

,InternoNumerico,Fecha Nto,Sexo,FechaMedicion,EdadBiologica,ZetaTE,ZetaPT,Administradora,Municipio
0,10450,2010-02-17,M,2015-02-17,59,-0.638659,0.948175,COMPARTA 200830600,AQUITANIA
1,10590,2010-05-03,M,2015-03-05,59,-0.854475,0.024698,COMPARTA 200830600,AQUITANIA
2,10190,2010-05-01,M,2015-01-05,59,-0.854475,0.226150,COMPARTA 200830600,AQUITANIA
3,10663,2010-03-17,F,2015-03-17,59,-0.929064,-0.519700,COMPARTA 200830600,AQUITANIA
4,10583,2010-05-03,F,2015-03-05,59,-2.611035,-0.318776,COMPARTA 200830600,AQUITANIA
...,...,...,...,...,...,...,...,...,...
10465,27783,2015-09-11,F,2019-10-08,46,-3.306196,-1.136813,COMPARTA 200830600,AQUITANIA
10466,27788,2015-09-25,M,2019-10-08,48,-1.322073,0.233953,COMPARTA 200830600,AQUITANIA
10467,27789,2018-05-31,M,2019-10-08,16,-0.954107,-0.099158,COMPARTA 200830600,AQUITANIA
10468,27790,2014-08-10,M,2019-10-08,59,-1.286107,0.327725,COMFAMILIAR 200738100,AQUITANIA
10469,27791,2019-06-04,F,2019-10-08,6,-1.475742,1.251433,NUEVA EPS SUBSIDIADA AQUITANIA,AQUITANIA

In [8]:
 by.funcion_boyaca("Cubara.csv")

Unnamed: 0           int64
InternoNumerico      int64
Fecha Nto           object
Sexo                object
FechaMedicion       object
EdadBiologica        int64
ZetaTE             float64
ZetaPT             float64
Administradora      object
Municipio           object
dtype: object Index(['Unnamed: 0', 'InternoNumerico', 'Fecha Nto', 'Sexo', 'FechaMedicion',
       'EdadBiologica', 'ZetaTE', 'ZetaPT', 'Administradora', 'Municipio'],
      dtype='object') Unnamed: 0         0
InternoNumerico    0
Fecha Nto          0
Sexo               0
FechaMedicion      0
EdadBiologica      0
ZetaTE             0
ZetaPT             0
Administradora     0
Municipio          0
dtype: int64 (7735, 10)

,InternoNumerico,Fecha Nto,Sexo,FechaMedicion,EdadBiologica,ZetaTE,ZetaPT,Administradora,Municipio
0,4,2013-12-11,M,2016-11-23,36,-1.697836,0.574431,SANIDAD MILITAR,CUBARA
1,5,2015-11-03,M,2016-11-23,20,-3.037673,3.375138,COMPARTA CUBARA INDIGENA SUBS,CUBARA
2,6,2012-02-02,M,2016-11-23,57,-2.571101,1.147857,COMPARTA CUBARA INDIGENA SUBS,CUBARA
3,8,2015-12-25,F,2016-11-23,10,-0.292088,0.764791,MEDIMAS CONTRIBUTIVO,CUBARA
4,9,2012-10-30,F,2016-11-23,48,-1.428093,-0.729488,COOSALUD CUBARA SUBSIDIADO,CUBARA
...,...,...,...,...,...,...,...,...,...
7730,12016,2016-01-26,M,2020-05-15,51,-4.007863,-0.211172,COMPARTA CUBARA INDIGENA SUBS,CUBARA
7731,12017,2016-08-26,F,2020-05-15,44,-5.196996,1.304303,COMPARTA CUBARA INDIGENA SUBS,CUBARA
7732,12018,2018-04-14,M,2020-05-15,25,-2.886643,-0.237354,COMPARTA CUBARA INDIGENA SUBS,CUBARA
7733,12019,2020-01-19,M,2020-05-18,3,-1.319315,-0.726668,COMPARTA CUBARA INDIGENA SUBS,CUBARA
7734,12020,2019-03-07,M,2020-05-19,10,-1.282868,-0.803595,COOSALUD CUBARA SUBSIDIADO,CUBARA

In [9]:
 by.funcion_boyaca("Combitacsv")

Unnamed: 0           int64
InternoNumerico      int64
Fecha Nto           object
Sexo                object
FechaMedicion       object
EdadBiologica        int64
ZetaTE             float64
ZetaPT             float64
Administradora      object
Municipio           object
dtype: object Index(['Unnamed: 0', 'InternoNumerico', 'Fecha Nto', 'Sexo', 'FechaMedicion',
       'EdadBiologica', 'ZetaTE', 'ZetaPT', 'Administradora', 'Municipio'],
      dtype='object') Unnamed: 0         0
InternoNumerico    0
Fecha Nto          0
Sexo               0
FechaMedicion      0
EdadBiologica      0
ZetaTE             0
ZetaPT             0
Administradora     0
Municipio          0
dtype: int64 (12000, 10)

,InternoNumerico,Fecha Nto,Sexo,FechaMedicion,EdadBiologica,ZetaTE,ZetaPT,Administradora,Municipio
0,378,2003-06-24,M,2005-11-03,28,0.564247,0.175672,PARTICULARES,COMBITA
1,142,2003-06-24,M,2005-11-08,29,0.564247,0.175672,PARTICULARES,COMBITA
2,131,2001-08-29,M,2005-11-08,50,0.778433,-1.553833,PARTICULARES,COMBITA
3,24,2002-06-23,F,2005-08-25,38,-0.846106,-0.549040,PARTICULARES,COMBITA
4,377,2002-08-21,M,2005-11-03,38,-0.659422,-0.275369,COOSALUD SUBSIDIADO,COMBITA
...,...,...,...,...,...,...,...,...,...
11995,19298,2018-10-17,M,2020-07-17,20,-1.784734,0.060280,COOSALUD SUBSIDIADO,COMBITA
11996,19299,2019-11-16,F,2020-07-17,8,1.575688,-1.646032,COOSALUD SUBSIDIADO,COMBITA
11997,19300,2016-01-16,M,2020-07-17,54,-0.831987,0.548717,COOSALUD SUBSIDIADO,COMBITA
11998,19301,2019-09-03,F,2020-07-17,16,-1.037690,0.311171,COMFAMILIAR SUBSIDIADO,COMBITA
11999,19302,2020-02-02,F,2020-07-17,5,-0.130751,-1.919778,NUEVA EPS SUBSIDIADO,COMBITA

In [3]:
by.concatenar("Aquitania.csv", "Combitacsv","Cubara.csv")

,InternoNumerico,Fecha Nto,Sexo,FechaMedicion,EdadBiologica,ZetaTE,ZetaPT,Administradora,Municipio
0,10450,2010-02-17,M,2015-02-17,59,-0.638659,0.948175,COMPARTA 200830600,AQUITANIA
1,10590,2010-05-03,M,2015-03-05,59,-0.854475,0.024698,COMPARTA 200830600,AQUITANIA
2,10190,2010-05-01,M,2015-01-05,59,-0.854475,0.226150,COMPARTA 200830600,AQUITANIA
3,10663,2010-03-17,F,2015-03-17,59,-0.929064,-0.519700,COMPARTA 200830600,AQUITANIA
4,10583,2010-05-03,F,2015-03-05,59,-2.611035,-0.318776,COMPARTA 200830600,AQUITANIA
...,...,...,...,...,...,...,...,...,...
5086,12016,2016-01-26,M,2020-05-15,51,-4.007863,-0.211172,COMPARTA CUBARA INDIGENA SUBS,CUBARA
5087,12017,2016-08-26,F,2020-05-15,44,-5.196996,1.304303,COMPARTA CUBARA INDIGENA SUBS,CUBARA
5088,12018,2018-04-14,M,2020-05-15,25,-2.886643,-0.237354,COMPARTA CUBARA INDIGENA SUBS,CUBARA
5089,12019,2020-01-19,M,2020-05-18,3,-1.319315,-0.726668,COMPARTA CUBARA INDIGENA SUBS,CUBARA
5090,12020,2019-03-07,M,2020-05-19,10,-1.282868,-0.803595,COOSALUD CUBARA SUBSIDIADO,CUBARA